.example-class {
  margin: 10px;
  margin-top: 20px;
  margin-right: 15px;
  margin-bottom: 20px;
  margin-left: 15px;
  
  padding: 10px;
  padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 15px;
  
  position: relative;
  
  display: flex;
  align-items: center;
  align-content: flex-start;
  justify-content: space-between;
  
  width: 100%;
  height: 200px;
  background-color: #f0f0f0;
}